.signup{
    width: 280px;
    
    .fullName{
        width: 100%;
        margin-top: 40px;
        margin-left: 5px;
    }
    .emailInput{
        width: 280px;
        margin-top: 20px;
        margin-left: 5px;
    }
    .password{
        width: 280px;
        margin-top: 20px;
        margin-left: 5px;
    }
    .confirmPassword{
        width: 280px;
        margin-top: 20px;
        margin-left: 5px;
    }
    .phonenumber{
        width: 280px;
        margin-top: 20px;
        margin-left: 5px;
    }
    .signupButton{
        width: 232px;
        margin-top: 20px;
        margin-left: 5px;
    }
}